<h1 id="users_signup_h1"> Sign Up </h1>

<div id="users_signup_div">
	<%= form_for(@user) do |f| %>

	  <%= render 'shared/error_messages' %>

	  <div class="user_field">
	   <%= f.label :username %><br />
	   <%= f.text_field :username %>
	  </div>

	  <div class="user_field">
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </div>

	  <div class="user_field">
	    <%= f.label :password_confirmation, "Confirmation" %><br />
	    <%= f.password_field :password_confirmation %>
	  </div>

	  <div class="user_field">
	    <%= f.label :avatar, "Upload your avatar!" %><br />
	    <%= f.file_field :avatar %>
	  </div>

	  <div class="user_field">
	    <%= f.submit "Sign up" %>
	  </div>

	<% end %>   
</div>