
<div id="usershow_content_div">

<table summary="Profile information">
  <tr>
    <td>
      <h1>
        <%= image_tag @user.avatar(:medium) %>
        <%= @user.username %>
      </h1>
    </td>

    <td>
      <strong>Name</strong> <%= @user.username %><br/>
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

<b> Bands you are following: </b>
<div>
  <% @user.bands.each do |band| %>
    <img src="<%= @lastapi.findArtistInfo(band.name).image(which = :large) %>"></img>
    <%= band.name %>
    <br />
 <% end %>
</div>

</div>