<h1 id="amazon"> </h1>

<!-- Rails Search Form -->
<div id="amazon_content_div">

<%= form_tag(amazon_path, :method => 'get') do %>
  <h3> Search for Albums </h3>
  <%= label_tag(:amazon_search_form, "by Band/Artist:") %>
  <%= text_field_tag(:amazon_search_form) %>
  <%= submit_tag("Search") %>
<% end %>
<br/><br/>

<!-- Amazon Search Results -->

<% if !@resp.nil? && !@search.nil? && !@search.empty? %>

	<% @resp.each('Item') do | item | %>
	  <%#*http://www.amazon.com/dp/<%= item['ASIN'] %>

	  <%g = item['MediumImage'].nil? %>

	  <% if g == false %>
		<div>
		    <%=image_tag(item['MediumImage']['URL'],:alt=>'Amazon',:title=>'Product')%> 
		<%end%>

		  <span>
		    <h4> Title: <%= item['ItemAttributes']['Title'] %> </h4>
		    <p> Price: <%= item['ItemAttributes']['ListPrice']['FormattedPrice'] %> </p>
		    <p> Release Date: <%= item['ItemAttributes']['ReleaseDate'] %> </p>
		    <p> Label: <%= item['ItemAttributes']['Label'] %> </p>
		  </span> 
	  </div> 
	<% end %>

<% end %>

</div>