<header>
	<nav>
	 <ul>
	     <li> <%= link_to "Home", root_path %> </li>

	     <% if signed_in? %>
	       <li> <%= link_to "Profile", current_user %> </li>
	     <% end %>

	     <li> <%= link_to "About This Site", about_path %></li>
	     <li> <%= link_to "Last.FM API", lastFM_path %></li>
	     <li> <%= link_to "Amazon Products API", amazon_path %></li>

	     <% if signed_in? %>
	       <li> <%= link_to "Search", search_path %></li>
	       <li> <%= link_to "Sign out", signout_path, :method => :delete %></li>
	     <% else %>
	       <li><%= link_to "Sign in", signin_path %></li>
	       <li> <%= link_to "Sign Up!", new_user_path %> </li>
	     <% end %>

     </ul>
   </nav>
</header>